#instructions {
	margin-bottom: 20px;
}

#droparea {
}

.slide {
	width: 480px;
	height: 360px;	
	border: 1px solid #A6C9E2;
}

#dropbox {
	width: 53px;
	height: 40px;
	border: 1px solid #A6C9E2;
}

#loading {
	margin: 10px 0px 10px 5px;
	visibility: hidden;
	height: 20px;
}

#filelinks {
	margin: 20px 0px 0px 10px;
}

#urls {
	margin: 10px 0px 0px 5px;
	font-weight: bold;
}
