!!!
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Quick Fileshare App
    %link{:rel => "stylesheet", :href => "/stylesheets/fileshare.css", :type => "text/css"}
    // If you are going to use Google to load JQuery - 
    // which made sense when this was written - but with 
    // the new Rails 3.x - probably not - just add in your 
    // Google API Key below
    - if Rails.env.development?
      %script{:type => "text/javascript", :src => "https://www.google.com/jsapi?key=<YOUR_GOOGLE_DEVELOPMENT_API_KEY>"}
    - else
      %script{:type => "text/javascript", :src => "https://www.google.com/jsapi?key=<YOUR_GOOGLE_PRODUCTION_API_KEY>"}
    :javascript
      google.load("jquery", "1.6.2");
    :javascript
      google.load("jqueryui", "1.8.14");
    = csrf_meta_tag
  %body
    = yield
