!!!
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Quick Fileshare App
    %link{:rel => "stylesheet", :href => "/stylesheets/fileshare.css", :type => "text/css"}
    - if Rails.env.development?
      %script{:type => "text/javascript", :src => "https://www.google.com/jsapi?key=ABQIAAAAG0AAq1dYy8I74Cix8G2hbRTthU7LSeUmKHSpXoygVZwHEItDDhQV1BpJfAcUcr_m-uP62nRGtfDRUA"}
    - else
      %script{:type => "text/javascript", :src => "https://www.google.com/jsapi?key=ABQIAAAAG0AAq1dYy8I74Cix8G2hbRT2yXp_ZAY8_ufC3CFXhHIE1NvwkxTlIdG8o-NIf_ixLyAlh_I9c26v7w"}
    :javascript
      google.load("jquery", "1.6.2");
    :javascript
      google.load("jqueryui", "1.8.14");
    = csrf_meta_tag
  %body
    = yield
